tldextract~=5.2.0
selenium
go to terminal on PyCharm and type "pip install pytest-playwright"
than type 'playwright install' - it will take sometime to work.
pyshark~=0.6

כרגע עובד על ממשק של ווייפיי- 

להריץ כאדמין את הפרויקט
psutil~=7.0.0
playwright~=1.51.0